{% extends 'base.html' %}
{% block content %}
{{num}}

    <hr>
        {% if user.is_authenticated %}
    <section class="features-icons bg-light text-center">
      <div class="container">
          <h1> Acta </h1>
          <hr>
          <hr>
        <div class="row">
          <div class="col-lg-6">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-6">
              <h4>Reunión:</h4>
              <p class="lead mb-0">{{reunion.FK_Comision.nombreComision}}.</p>
                <p class="lead mb-0"><b>Lugar:</b> {{reunion.lugar}}.</p>
                <p class="lead mb-0"><b>Hora:</b> {{reunion.horaReunion}}.</p>
                <p class="lead mb-0"><b>Fecha:</b> {{reunion.fechaReunion}}.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <h3>Asistencia:</h3>
                {% for asistente in asistentes %}
                    {% if asistente.FK_Reunion_id == reunion.id and asistente.asiste == "Si" %}
                    <p class="lead mb-0" style="color:Green;">{{asistente.FK_Integrante.FK_User}}</p>
                    {% endif %}
                {% endfor %}
                {% for asistente in asistentes %}
                    {% if asistente.FK_Reunion_id == reunion.id and asistente.asiste == "No" %}
                    <p class="lead mb-0" style="color:#FF0000;">{{asistente.FK_Integrante.FK_User}}</p>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
          <hr>
        <div class="row">
          <div class="col-lg-6">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-6">
              <h4>Tema:</h4>
                {% for tema in temas %}
                    {% if tema.FK_Reunion_id == reunion.id %}
                        <p class="lead mb-0" >{{tema.tema}}</p>
                    {% endif %}
                {% endfor %}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <h3>Acuerdos realizados por Tema</h3>
                {% for tema in temas %}
                    {% if tema.FK_Reunion_id == reunion.id %}
                        {% for acuerdo in acuerdos %}
                            {% if acuerdo.FK_Tema_id == tema.id %}
                                <p class="lead mb-0" ><b>{{tema.tema}}:</b> {{acuerdo.acuerdo}}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
          <hr>
          <center><button>Cerrar y Despachar Acta</button></center>
      </div>
    </section>
        {% else %}
            <h1>DEBES INICIAR SESION!</h1>
            <a href="{% url 'home' %}" type="button"class="btn btn-primary">Volver</a>
        {% endif %}
    </div>
    <hr>
{% endblock%}