{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="form-row">
    {% if user.is_authenticated %}
	<div class="form-group col-md-12">
			<h1><center>Agregar Invitado</center></h1>
			<h3><center>Complete el formulario para asignarlo a la Reunión.</center></h3>
		</div>
		<p></p>
    	<div class="form-group col-md-4">
		</div>
    	<div class="form-group col-md-4" >
			<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
            <p></p>
			<center>
				<button type="submit" class="btn btn-primary">Registrar</button>
				<a href="{% url 'reunionlista' %}" type="button"class="btn btn-primary">Volver</a>
			</center>
		</form>
        <p></p>
	{% else %}
		<h1>DEBES INICIAR SESION!</h1>
        <a href="{% url 'home' %}" type="button"class="btn btn-primary">Volver</a>
    {% endif %}
	</div>
{% endblock %}