{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<hr>
	<div class="form-row">
		{% if user.is_authenticated %}
		<div class="form-group col-md-12">
			<h1><center>Votación</center></h1>
			<h3><center>Tema: {{acuerdo.FK_Tema}}</center></h3>
            <h3><center>Acuerdo: {{acuerdo.acuerdo}}</center></h3>
            <h3><center>Votación de: {{asistencia.FK_Integrante.FK_User.first_name}} {{asistencia.FK_Integrante.FK_User.last_name}}</center></h3>
		</div>
		<p></p>
		<div class="form-group col-md-4">
		</div>
		<div class="form-group col-md-4" >
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<p></p>
				<center>
					<button type="submit" class="btn btn-primary">Registrar</button>
					<a href="{% url 'acordemos' reunion.id %}" type="button"class="btn btn-primary">Volver</a>
				</center>
			</form>
			<p></p>
		</div>
		{% else %}
		<h1>DEBES INICIAR SESION!</h1>
        <a href="{% url 'home' %}" type="button"class="btn btn-primary">Volver</a>
    {% endif %}
	</div>
<hr>
{% endblock %}